.product-recomendation-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    .items{
        // flex: 1;
        display: flex;
        padding: 1rem;
    }
}