.trending-container-organisms{
    padding: 200px 0 0 0;
    text-align: center;
    .flex-container{
        margin: 20px 10% 20px 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .flex-items{
            margin: 10px;
        }
    }
}