@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Calistoga', cursive;
    // background-color: rgb(255, 255, 255);
    background-color: brown;
}